<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.homeip.tedk.maricoparestaurantratings"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/header_logo_crop"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
        <activity
            android:name="net.homeip.tedk.maricoparestaurantratings.activities.TestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="net.homeip.tedk.maricoparestaurantratings.activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.homeip.tedk.maricoparestaurantratings.activities.NearbyActivity"
            android:label="@string/title_activity_nearby" >
        </activity>
        <activity
            android:name="net.homeip.tedk.maricoparestaurantratings.activities.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="net.homeip.tedk.maricoparestaurantratings.activities.PermitsActivity"
            android:label="@string/title_activity_permits" >
        </activity>
    </application>

</manifest>